venv_cdc/
.venv/
env/
ENV/

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Build and distribution
build/
dist/
*.egg-info/

# Streamlit/App-specific temporary files
temp_uploads/

# Input Data Files to Ignore
*.xlsx
*.xls

# Tool and IDE caches
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
.cache/

# Data and Notebooks
*.log
.ipynb_checkpoints/


ToDo.txt
testing.ipynb
.DS_Store
PreparedTables/